@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --white-focu: rgba(rgb(255, 255, 255, 0.8))
  --black: #000;

  --dark-900: #101026;
  --dark-700: #1D1D2E;

  --gray-900: #8A8A8A;
  --green-900: #3fffa3;
  --red-900: #ff3f4b;
}



body {
 background: var(--dark-700);
}

body, input, textarea, select, button {
  font: 400 1 sans-serif;
}

button:disabled {
  cursor: not-allowed;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #101026;
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #ff3f4b;
  border-radius: 4px;
}

/* Estilize a barra de rolagem quando o cursor estiver sobre ela */
::-webkit-scrollbar-thumb:hover {
  background: #d34e54;
}